html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes animated-gradient {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* สไตล์สำหรับเส้นเชื่อมทั้งหมดของเรา */
.react-flow__edge.custom-animated-edge .react-flow__edge-path {
  stroke: #ddd; /* สีของเส้นพื้นหลัง */
  stroke-width: 8; /* ความหนาของเส้น */
}

/* สไตล์สำหรับเส้นที่ซ้อนทับเพื่อสร้างแอนิเมชัน */
.react-flow__edge.custom-animated-edge .react-flow__edge-path-selector + path {
  stroke: url(#edge-gradient); /* ใช้ gradient ที่เราสร้าง */
  stroke-width: 8;
  stroke-dasharray: 100; /* ความยาวของแถบแสง */
  animation: animated-gradient 3s linear infinite;
}
